.navbar--md {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  background: #fff;
  border: none;
  margin-bottom: 0px;
  will-change: top,left;
  position: fixed;
  top: 0;
  z-index: 1;
  &:before {
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    content: "";
    height: 56px;
    left: -2%;
    position: fixed;
    width: 104%;
    will-change: top,left;
  }
}

.navbar--md .container {
  height: 100%;
  padding: 0;
}

/* ロゴ部分 */
.navbar--md .navbar-header {
  height: 100%;
  margin: 0;
  .navbar-brand {
    padding: 0;
    height: 100%;
    margin: 0;
    position: relative;
  }
}
