<div class="container" ng-controller="HomeFeedCtrl">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Home Feed</h1>
      <div>
        <button ng-click="updateHomeFeedTwitter()">更新</button>
      </div>
      <ul class="tweets_list list-unstyled">
        <li class="tweets_list--loading" ng-show="tweetsLoading">ロード中</li>
        <li ng-repeat="tweet in tweets">
          <img ng-src="{{tweet.user.profile_image_url}}" alt="">
          <p>{{tweet.usre.name}}</p>
          <p>{{tweet.text | deleteUrlFilter}}</p>
          <p ng-repeat="url in tweet.entities.urls" ng-show="{{tweet.entities.urls.length}}">
            <a ng-href="{{url.expanded_url}}" target="_blank">{{url.display_url}}</a>
          </p>
          <div ng-repeat="media in tweet.entities.media" ng-show="{{tweet.entities.media.length}}">
            <img ng-src="{{media.media_url}}" alt="">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
