<div class="container" ng-controller="HomeFeedCtrl">
  <div class="row">
    <div class="home_feed_container">

      <button ng-click="updateHomeFeedTwitter()">更新</button>
      <p class="tweets_list--loading" ng-show="newTweetsLoading">ロード中</p>

      <md-list>
        <md-item ng-repeat="tweet in tweets" class="clearfix">
          <md-item-content class="md-item-content--tweet">
            <div class="md-tile-left">
                <img ng-src="{{tweet.user.profile_image_url}}" alt="{{tweet.user.name}}">
            </div>
            <div class="md-tile-content">
              <h4>{{tweet.user.name}}</h4>
              <p ng-bind-html="tweet.text | deleteUrlFilter | tweetTextFilter:tweet.entities.user_mentions:tweet.entities.hashtags"></p>
              <p ng-repeat="url in tweet.entities.urls" ng-show="{{tweet.entities.urls.length}}">
                <a ng-href="{{url.expanded_url}}" target="_blank">{{url.display_url}}</a>
              </p>
              <div class="md-tile-content__img-wp" ng-show="{{tweet.extended_entities.media.length}}">
                <div class="md-tile-content__img-box" ng-repeat="media in tweet.extended_entities.media" ng-hide="{{tweet.extended_entities.media.length > 1}}">
                  <img ng-src="{{media.media_url}}" alt="">
                </div>
                <div class="md-tile-content__img-box md-tile-content__img-box-multi" ng-repeat="media in tweet.extended_entities.media" ng-show="{{tweet.extended_entities.media.length > 1}}">
                  <img ng-src="{{media.media_url}}" alt="">
                </div>
              </div>
            </div>
          </md-item-content>
          <md-divider ng-if="!$last"></md-divider>
        </md-item>
      </md-list>

      <p class="tweets_list--loading" ng-show="nextTweetsLoading">ロード中</p>
      <button infinite-scroll="getNextHomeFeedTwitter()" infinite-scroll-disabled="nextTweetsLoading">次のページ</button>

    </div>
  </div>
</div>
