<div class="container" ng-controller="HomeFeedCtrl">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Home Feed</h1>
      <md-list>
        <md-item ng-repeat="tweet in tweets">
          <md-item-content>
            <div class="md-tile-left">
                <img ng-src="{{tweet.user.profile_image_url}}" alt="{{tweet.user.name}}">
            </div>
            <div class="md-tile-content">
              <h4>{{tweet.user.name}}</h4>
              <p>{{tweet.text}}</p>
            </div>
          </md-item-content>
        </md-item>
      </md-list>
      <div>
        <button ng-click="updateHomeFeedTwitter()">更新</button>
      </div>
      <ul class="tweets_list list-unstyled">
        <li class="tweets_list--loading" ng-show="newTweetsLoading">ロード中</li>
        <li ng-repeat="tweet in tweets">
          <img ng-src="{{tweet.user.profile_image_url}}" alt="">
          <p>{{tweet.user.name}}</p>
          <p ng-bind-html="tweet.text | deleteUrlFilter | tweetTextFilter:tweet.entities.user_mentions:tweet.entities.hashtags"></p>
          <p ng-repeat="url in tweet.entities.urls" ng-show="{{tweet.entities.urls.length}}">
            <a ng-href="{{url.expanded_url}}" target="_blank">{{url.display_url}}</a>
          </p>
          <div ng-repeat="media in tweet.entities.media" ng-show="{{tweet.entities.media.length}}">
            <img ng-src="{{media.media_url}}" alt="">
          </div>
        </li>
        <li class="tweets_list--loading" ng-show="nextTweetsLoading">ロード中</li>
        <button infinite-scroll="getNextHomeFeedTwitter()" infinite-scroll-disabled="nextTweetsLoading">次のページ</button>
      </ul>
    </div>
  </div>
</div>
