/* コンテナ */
.home_feed_container {
  width: 590px;
  margin: 0 auto;
  background: #fff;
  margin-top: 75px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.24);
}

/* リストのコンテント */
.md-item-content--tweet {
  align-items: flex-start;
  .md-tile-left {
    padding: 16px;
    img {
      border-radius: 50%;
      overflow: hidden;
    }
  }
  .md-tile-content {
    h4 {
      font-weight: bold;
      font-size: 14px;
      margin: 0 0 5px 0;
    }
    p {
      font-size: 14px;
      line-height: inherit;
    }
    .md-tile-content__img-wp {
      // 画像エリアのラッパー
      height: 150px;
      overflow: hidden;
      .md-tile-content__img-box {
        // 共通
        img {
          width: 100%;
        }
      }
      .md-tile-content__img-box-multi {
        // 3枚以上の画像
        width: 50%;
        height: 100%;
        float: left;
        padding-right: 10px;
      }
    }
  }
}


@media (max-width: 768px) {
  .home_feed_container {
    width: 100%;
  }
}
